.about__wrapper {
    background-color: var(--beige);
    height: 100vh;
    width: 100vw;
    /* max-width: 1024px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    color: var(--black);
}

/* the alphabet won't wrap because it's not a word, but a bunch of divs */
.about__alphabet {
    display: flex;
    width: 30vw;
    justify-content: center;
    font-size: 4rem;
    letter-spacing: .2rem;
    flex-direction: column;
    border-bottom: solid 1px var(--black);
    padding-bottom: 1rem;
}

.about__alphabet--special-letter {
    color: var(--red);
    margin: .1rem;
    padding-left: .2rem;
}

.row {
    display: flex;
    justify-content: space-between;
    height: 3.5rem;
    /* align-items: center; */
}

.about__description__wrapper {
    display: flex;
    flex-direction: row;
    margin-top: 4rem;
}

.about__description {
    border-left: solid 1rem var(--red);
    padding-left: .5rem;
    word-wrap: break-word;
    max-width: 30vw;
}

.about__name {
    display: relative;
    align-items: center;
    padding-right: 2rem;
    text-align: center;
}

.about__name p{
    font-family: 'Yrsa', 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: .4rem;
}