/* super-parent is relative, so that upper-bar, being absolute,
can be absolute relative to its parent and not html. When resizing
the screen the bar won't travel around and will stay fixed. */
.super-parent {
    max-width: 1024px;
    position: relative;
    height: 100vh;
    width: 100vw;
}

/* .upper-bar {
    width: 60vw;
    max-width: 250px;
    height: 2rem;
    background-color: var(--black);
    color: var(--beige);
    display: flex;
    align-items: center;
    padding-left: 2.5rem;
    text-transform: uppercase;
    font-size: .75rem;
    margin: 0 2rem;
} */

/* absolute to its parent, super-parent */
/* .vertical-bar {
    width: .5rem;
    height: 5.5rem;
    position: absolute;
    left: 3rem;
    top: -.5rem;
    background-color: var(--red);
} */

.version {
    position: absolute;
    right: -.8rem;
    transform: rotate(270deg);
    font-size: 1rem;
    letter-spacing: .1rem;
    color: var(--black);
    background-color: var(--red);
    padding: .3rem .3rem .3rem 4rem;
    text-transform: lowercase;
    font-weight: bold;
}

.my-name {
    text-transform: uppercase;
    font-size: 4rem;
    color: var(--beige);
    font-weight: 950;
    letter-spacing: .2rem;
    margin: 0 2rem;
    background-color: var(--black);
    width: fit-content;
    padding: 1rem 1rem 4rem 1rem;
    border-bottom: solid 1rem var(--red);
}

.introduction {
    color: var(--beige);
    font-size: .7rem;
    width: 50vw;
    font-weight: bold;
    border-left: solid 1rem var(--black);
    padding: .1rem 1rem;
    background-color: var(--red);
    margin: 3rem 2rem;
}

@media screen and (max-width: 510px) {
    .introduction {
        width: 60vw;
    }

    .my-name {
        font-size: 2.5rem;
    }
}

.content {
    margin: 5rem;
    /* background-color: var(--beige); */
    /* border-bottom-style: solid;
    border-bottom-width: .35rem;
    border-bottom-color: var(--black); */
}

/* .content__header__wrapper {
    border-color: var(--red);
    border-style: solid;
    border-width: 1px 1px 0 1px;
} */

.Collapsible__trigger {
    position: relative;
    font-size: 2rem;
    color: var(--black);
    padding: .5rem .2rem 0 .5rem;
    text-transform: uppercase;
    font-weight: 800;
}

.content__item {
    color: var(--red);
    font-size: 2rem;
    display: flex;
    /* padding: .3rem; */
    padding-left: 2rem;
    max-height: 3rem;
    margin-bottom: -.25rem;
}

.content__item__divider {
    height: .3rem;
    max-width: 300px;
    border-top: solid .2rem var(--red);
    border-left: solid .2rem var(--red);
    margin-bottom: .5rem;
}

.content__item:hover {
    background-color: white;
    cursor: pointer;
}

.content__item__date {
    display: flex;
    align-items: center;
}

.content__item__date p {
    font-size: 1.2rem;
    color: var(--black);
    background-color: var(--red);
    padding: .1rem .2rem 0 .2rem;
}

.content__item__title {
    padding-left: 2rem;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    text-overflow: nowrap;
}

.content__item__title__first-letter {
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 2.5rem;
    /* color: var(--black); */
}

@media screen and (max-width: 510px) {
    .content {
        margin: 3rem 2rem;
    }

    .content__item__title {
        font-size: 1.5rem;
    }
}

.headache {
    position: absolute;
    bottom: 5rem;
    right: 1.5rem;
    color: var(--beige);
}

.headache:hover {
    cursor: pointer;
}

.diagon-alley_1 {
    background-color: var(--black);
    height: 1rem;
    width: 50rem;
    transform: rotate(105deg);
    margin-left: -20rem;
    margin-top: 5rem;
    position: absolute;
    /* z-index: -1; */
    mix-blend-mode:saturation;
}

.diagon-alley_2 {
    background-color: var(--black);
    height: 1rem;
    width: 100rem;
    transform: rotate(65deg);
    margin-left: -30%;
    margin-top: -30vw;
    position: absolute;
    z-index: 10;
    mix-blend-mode:saturation;
    left: 5;
}