#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.upper-bar {
    width: 60%;
    height: 2rem;
    background-color: #444545;
}

.vertical-bar {
    width: .5rem;
    height: 5.5rem;
    position: absolute;
    left: 4rem;
    top: 0;
    background-color: #db504a;
}

.version {
    position: absolute;
    right: 1rem;
    transform: rotate(270deg);
    font-size: 1rem;
    letter-spacing: .1rem;
    color: #444545;
}

.my-name {
    text-transform: uppercase;
    font-size: 2rem;
    color: #db504a;
    font-weight: 950;
    letter-spacing: .2rem;
    margin-top: .2rem;
    margin-left: 2.5rem;
}

.description {
    color: #db504a;
    font-size: .5rem;
    width: 15rem;
    font-weight: bold;
    border-left: solid 1px #444545;
    padding-left: .5rem;
}